{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Estamos a tu servicio</h6>
                  <h4>Funerales<br>&amp; Translados</h4>
                  <p>Santiago de chile, Av. Santa Rosa 9492, local 1</p>
                  <a href="https://www.google.com/maps/place/Funeraria+Ibanez/@-33.5479379,-70.6354931,17z/data=!3m1!4b1!4m6!3m5!1s0x9662da72bd521f21:0x81fcde7e1327d354!8m2!3d-33.5479424!4d-70.6329182!16s%2Fg%2F11ggvp5dc4?entry=ttucontact.html" class="filled-button">Encuentranos</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Necesitas contactarnos?</h4>
            <span>Hazlo ahora mismo</span>
          </div>
          <div class="col-md-4">
            <a href="#contacto" class="border-button">Contactanos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestros<em> Servicios</em></h2>
              <span>Recuerda, para cotizar necesitas contactarnos</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'core/images/basico1.jpg' %}" alt="">
              <div class="down-content">
                <h4>Standard</h4>
                <p>Incuye:</p>
                <div style="text-align: left;">
                  <h5>Urna y Capilla:</h5>
                    <p>
                    -Urna rebosada de madera empachada estándar
                    <br>
                    -Capilla standard
                    <br>
                    -Cruz de madera
                    </p>
                    <h5>Servicios Básicos:</h5>
                    <p>
                    -Retiro y traslado al lugar del velatorio
                    <br>
                    -Carroza o Van para instalación
                    <br>
                    -Carroza convencional para el funeral
                    </p>
                    <h5>Asesorías:</h5>
                    <p>
                    -Orientación legal
                    <br>
                    -Tramitación en Registro Civil
                    <br>
                    -Pase de sepultación
                    <br>
                    -Tramitación de traslado
                    <br>
                    -Servicios Anexos
                    <br>
                    -Libro de condolencias
                  </p>
                  <a href="#contacto" class="filled-button" style="display: flex;">Plan Standard</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'core/images/gold1-1.jpg' %}" alt="">
              <div class="down-content">
                <h4>Tradicional</h4>
                <p>Incuye:</p>
                <div style="text-align: left;">
                  <h5>Urna y Capilla:</h5>
                  <p>
                  -Urna rebosada de madera empachada básica
                  <br>
                  -Capilla standard
                  <br>
                  -Cruz de madera
                </p>
                 
                  <h5>Servicios Básicos:</h5>
                  <p>
                  -Retiro y traslado al lugar del velatorio
                  <br>
                  -Carroza o Van para instalación
                  <br>
                  -Carroza convencional para el funeral
                </p>
                  <h5>Asesorías:</h5>
                  <p>
                  -Orientación legal
                  <br>
                  -Tramitación en Registro Civil
                  <br>
                  -Pase de sepultación
                  <br>
                  -Tramitación de traslado
                  </p>
                  <br>
                  <h5>Servicios Anexos:</h5>
                  <p>
                  -Libro de condolencias
                  <br>
                  -Auto de acompañamiento
                  <br>
                  -Servicio cafeteria
                </p>
                
                <a href="#contacto" class="filled-button" style="display: flex;">Plan Tradicional</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'core/images/premium1.jpg' %}" alt="">
              <div class="down-content">
                <h4>Premium</h4>
                <p>Incuye:</p>
                <h5>Urna y Capilla:</h5>
                <p>
                -Urna 100% de madera
                <br>
                -Capilla de madera
                <br>
                -Cruz de madera
              </p>
                
                <h5>Servicios Básicos:</h5>
                <p>
                -Retiro y traslado al lugar del velatorio
                <br>
                -Carroza o Van para instalación                  
                <br>
                -Carroza convencional para el funeral
              </p>
              
                <h5>Asesorías:</h5>
                <p>
                -Orientación legal
                <br>
                -Tramitación en Registro Civil                 
                <br>
                -Pase de sepultación 
                <br>                 
                -Tramitación de traslado
              </p>
                
                <h5>Servicios Anexos:</h5>
                <p>
                -Libro de condolencias
                <br>
                -Auto de acompañamiento
                <br>
                -Servicio cafeteria
                <br>
                -Pie de urna
              </p>
              
              <a href="#contacto" class="filled-button" style="display: flex;">Plan Premium</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="service-item">
              <img src="{% static 'core/images/premium1.jpg' %}" alt="">
              <div class="down-content">
                <h4>Gold</h4>
                <p>Incuye:</p>
                <h5>Urna y Capilla:</h5>
                  <p>
                  -Urna 100% de madera tallada
                  <br>
                  -Capilla de madera
                  <br>
                  -Cruz de madera
                   </p>
                  
                  <h5>Servicios Básicos:</h5>
                  <p>
                  -Retiro y traslado al lugar del velatorio
                  <br>
                  -Carroza o Van para instalación
                  <br>
                  -Carroza convencional para el funeral
                </p>
                  
                  <h5>Asesorías:</h5>
                  <p>
                  -Orientación legal
                    <br>
                  -Tramitación en Registro Civil
                    <br>
                  -Pase de sepultación
                    <br>
                  -Tramitación de traslado
                  </p>
                  
                  <h5>Servicios Anexos:</h5>
                  <p>
                  -Libro de condolencias
                    <br>
                  -Auto de acompañamiento
                    <br>
                  -Servicio cafetería (Asistencia presencial de 3 horas)
                    <br>
                  -Pie de urna
                  </p>
                  <a href="#contacto" class="filled-button" style="display: flex;">Plan Gold</a>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="more-info" id="nosotros">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'core/images/fun3.jpeg' %}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Quienes somos</span>
                    <h2>Conoce acerca de<em> Nuestra compañia</em></h2>
                    <p style="text-align: left;">En esta empresa brindamos servicios funerarios y nos dedicamos a dar la mejor asistencia a la comunidad, siempre enfocados en nuestros clientes y la calidad de su servicio. Somos una empresa conformada por colaboradores que llevan más de 20 años en el rubro y su experiencia garantiza tener una estructura firme y acogedora. También tenemos conocimientos de las necesidades de nuestros clientes y somos perseverantes en cumplir a cabalidad de lo que ofrecemos</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Contacta<em>nos</em></h2>
              <span>Comunicate con nosotros y nuestro servicio</span>
            </div>
          </div>
          <div class="col-md-12"id="contact">
            <div class="contact-form">
              <form action="https://formsubmit.co/pavezzalex@gmail.com" method="POST"> 
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Nombre completo" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="Correo" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="number" type="number" class="form-control" id="num" placeholder="Numero Telefonico" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-15 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="asunto" placeholder="Asunto" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Tu Mensaje" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
    