{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1>Servicios extra</h1>
            <span>Nuestros servicios de alto costo</span>
        </div>
      </div>
    </div>
  </div>

   
   <div class="services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="service-item">
              <img src="{% static 'core/images/basico1.jpg' %}" alt="">
              <div class="down-content">
                <h4>Premium</h4>
                
                  <h5>Urna y Capilla:</h5>
                  <p>
                  -Urna 100% de madera
                  <br>
                  -Capilla de madera
                  <br>
                  -Cruz de madera
                </p>
                  
                  <h5>Servicios Básicos:</h5>
                  <p>
                  -Retiro y traslado al lugar del velatorio
                  <br>
                  -Carroza o Van para instalación                  
                  <br>
                  -Carroza convencional para el funeral
                </p>
                
                  <h5>Asesorías:</h5>
                  <p>
                  -Orientación legal
                  <br>
                  -Tramitación en Registro Civil                 
                  <br>
                  -Pase de sepultación 
                  <br>                 
                  -Tramitación de traslado
                </p>
                  
                  <h5>Servicios Anexos:</h5>
                  <p>
                  -Libro de condolencias
                  <br>
                  -Auto de acompañamiento
                  <br>
                  -Servicio cafeteria
                  <br>
                  -Pie de urna
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <img src="{% static 'core/images/gold1-1.jpg' %}" alt="">
              <div class="down-content">
                <h4>gold</h4>
                <h5>Urna y Capilla:</h5>
                  <p>
                  -Urna 100% de madera tallada
                  <br>
                  -Capilla de madera
                  <br>
                  -Cruz de madera
                   </p>
                  
                  <h5>Servicios Básicos:</h5>
                  <p>
                  -Retiro y traslado al lugar del velatorio
                  <br>
                  -Carroza o Van para instalación
                  <br>
                  -Carroza convencional para el funeral
                </p>
                  
                  <h5>Asesorías:</h5>
                  <p>
                  -Orientación legal
                    <br>
                  -Tramitación en Registro Civil
                    <br>
                  -Pase de sepultación
                    <br>
                  -Tramitación de traslado
                  </p>
                  
                  <h5>Servicios Anexos:</h5>
                  <p>
                  -Libro de condolencias
                    <br>
                  -Auto de acompañamiento
                    <br>
                  -Servicio cafetería (Asistencia presencial de 3 horas)
                    <br>
                  -Pie de urna
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    